<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>NoPaste</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="[% uri_for('/static/js/jquery-1.9.0.min.js') %]"></script>
  <script type="text/javascript" src="[% uri_for('/static/js/main.js') %]"></script>
  <link rel="stylesheet" href="[% uri_for('/static/css/main.css') %]">
  <link rel="stylesheet" href="[% uri_for('/static/bootstrap/css/bootstrap.min.css') %]" media="screen">
  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">NoPaste</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              [% IF c().session.get('username') %]
              Logged in as [% c().session.get('username') %]
              <a href="[% uri_for('/signout') %]" class="btn btn-inverse btn-small">Sign out</a>
              [% ELSE %]
              <a href="[% uri_for('/signin') %]" class="btn btn-primary btn-small">Sign in</a>
              [% END %]
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    [% content %]
  </body>
</html>
